/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#content {
    font-size: 12px;
    width: 800px;
    margin: 20px auto 0;
}

#content .row-edit-table {
    width: 100%;
}

#content .row-edit-table tr th {
    text-align: left;
}

#content .row-edit-table tr th,
#content .row-edit-table tr td {
    padding: 5px;
    vertical-align: middle;
}

#content .row-edit-table tbody tr:nth-child(odd) {
    background: #eee;
}

#content form {
    margin-bottom: 50px;
    width: 400px;
}

#content form p:first-child {
    border-top: 1px solid #d1d1d1;
}

#content form p {
    border-bottom: 1px solid #d1d1d1;
    padding: 5px 5px;
    margin: 0;
    min-height: 22px;
    line-height: 22px;
}

#content form p > label {
    width: 100px;
    display: inline-block;
    font-weight: bold;
}

#content form p .view {
    display: inline-block;
    min-width: 65px;
}

/* ==========================================================================
   Row Editor styles
   ========================================================================== */

.editor {
    display: none;
}